.tpl__footer {
   .tpl {
    background-color: @colorLightBlack; padding: 16px 0;
     .content {
       p { font-size: 12px; font-weight: 600; text-align: center; }
       .before { fill: @colorYellow; margin: 0 8px; }
     }
   }
 }