//default paddings
@defaultPadding: 100px;

// Default colors
@white: #fff;
@black: #000;

// Default font settings
@font-family-default: "Montserrat", sans-serif;
@font-family-second: "Playfair Display", serif;
@font-size-default: 16px;
@font-weight-default: 400;

// layout padding
@outerWrapperPadding: 80px;

/////////////////////////
@colorYellow: #FFDE22;
@colorLightPetrol: #2D545E;
@colorDarktPetrol: #12343B;
@colorLightBlack: #1C1D21;
@colorLightWhite: #F9F9F9;

@colorHardLightPetrol: #223f47;
@colorSoftLightPetrol: #325e69;

@colorHardLightBlack: #000;
@colorSoftLightBlack: #33353d;

@colorHardLightWhite: #c6c6c6;
@colorSoftLightWhite: #fff;